:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-dark-grey: #333333;
	--color-blue: #5aa9f8;
	--color-red: #ed6a6a;
	--color-bg: #272a2d;
	--color-text: #bdbdbd;

	--color-white: #ffffff;
	--color-black: #000000;
	--color-grey: #5b5b5b;
	--color-light-grey: #9c9c9c;
	--color-dark-grey: #333333;
	--color-darker-grey: #1c1c1c;
	--color-darkest-grey: #0f0f0f;
	--color-baby-blue: #5aa9f8;
	--color-blue: #3941ea;
	--color-light-baby-blue: #92ddfd;
	--color-green: #5bff67;
	--color-light-green: #9dffa4;
	--color-yellow: #bea500;
	--color-light-yellow: #bcb05e;
	--color-dark-yellow: #786800;
	--color-pink: #fe4e8d;
	--color-light-pink: #ff75f9;
	--color-orange: #ff9c00;
	--color-light-orange: #fdcc80;
	--color-red: #cb2323;
	--color-light-red: #d66161;
	--color-purple: #ba80e7;
	--color-light-purple: #cba7e6;
	--color-aqua: #79f2e8;
	--color-light-aqua: #a5f0ea;
	--color-note: #e8e3ac;
}
