:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-dark-grey: #333333;
	--color-blue: #5aa9f8;
	--color-red: #ed6a6a;

	--color-white: #ffffff;
	--color-black: #000000;
	--color-grey: #5b5b5b;
	--color-light-grey: #9c9c9c;
	--color-dark-grey: #333333;
	--color-darker-grey: #1c1c1c;
	--color-darkest-grey: #0f0f0f;
	--color-baby-blue: #5aa9f8;
	--color-blue: #3941ea;
	--color-light-baby-blue: #92ddfd;
	--color-green: #5bff67;
	--color-light-green: #9dffa4;
	--color-yellow: #bea500;
	--color-light-yellow: #bcb05e;
	--color-dark-yellow: #786800;
	--color-pink: #fe4e8d;
	--color-light-pink: #ff75f9;
	--color-orange: #ff9c00;
	--color-light-orange: #fdcc80;
	--color-red: #cb2323;
	--color-light-red: #d66161;
	--color-purple: #ba80e7;
	--color-light-purple: #cba7e6;
	--color-aqua: #79f2e8;
	--color-light-aqua: #a5f0ea;
	--color-note: #e8e3ac;

	--browser-item-color: #bdbdbd;
	--browser-item-bgcolor: #202020;
	--browser-item-background: url(/assets/img/background.png);
	
	--prompt-label: #ffffff;
	--prompt-text: #ffffff;
}
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

body {
	background-image: var(--browser-item-background);
	background-color: var(--browser-item-bgcolor);
	color: var(--browser-item-color);
	background-repeat: no-repeat;
	background-position: top center;
	background-type: fixed;
	background-attachment: fixed;
	background-size: 100% auto;
	font-family: brandon-grotesque, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
}

h1,h2,h3,h4,h5 {
	font-family: brandon-grotesque, Helvetica, Arial, sans-serif;
	font-weight: normal;
}
h1 {
	font-size: 3rem;
	margin: 2rem 0 1rem 0;
}
h2 {
	font-size: 2.5rem;
	margin: 1.5rem 0 .75rem 0;
}
h3 {
	font-size: 2rem;
	margin: 1rem 0 .5rem 0;
}

a {
	transition: .25s all linear;
	color: var(--color-blue);
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: var(--color-green);
	text-decoration: none;
	cursor: pointer;
}

header {
	text-align: center;
	padding: 1rem;
	max-width: 700px;
	margin: auto;
}
header h1 {
	padding: 0;
	margin: 0;
	font-size: 5rem;
	font-weight: 100;
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
}
header .icon {
	max-width: 100px;
}
main {
	margin: auto;
	max-width: 700px;
	padding: 0 1rem;
}
footer {
	font-size: .75rem;
	padding: 1rem;
}
footer .cmd {
	padding: 1rem;
	max-width: 500px;
	margin: 0 auto;
	border: 1px solid rgba(0,0,0,.5);
	background-color: rgba(0,0,0,.25);
	border-radius: .5rem;
}
footer .copyright {
	text-align: center;
	padding: .5rem;
	margin: 0;
}

p {
	font-size: 1.2rem;
}

ul {
	margin: 0;
	padding: 0 0 0 1rem;
}

li {
	margin: 0;
	padding: .25rem 0 .25rem .25rem;
}

hr {
	border-color: var(--prompt-text);
}
.hash {
	font-weight: bold;
	display: inline-block;
	color: var(--color-orange);
}

.container {
	display: flex;
	flex-flow: column nowrap;
	margin: 0;
}

.box {
	display: flex;
	flex-flow: column nowrap;
	margin: .5rem;
}

.box.inline {
	display: flex;
	flex-flow: row nowrap;
	margin: .5rem;
}

.container .box .details {
	flex: 1;
	margin: 0;
	padding: .5rem 1rem 1.5rem 1rem;
	background-color: rgba(255,255,255,.05);
	border-radius: 0 .5rem .5rem 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.container .box .details h3 {
	font-size: 1.5rem;
	margin: 0;
	padding: 0
}
.container .box .details p {
	margin: 0;
	padding: 0
}
.container .box .avatar {
	align-content: flex-start;
	background-color: rgba(255,255,255,.05);
	border-radius: .5rem 0 0 .5rem;
}
.container .box .avatar img {
	max-width: 150px;
}

.noshadow img {
	box-shadow: none;
}

ul.icons {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.icons li {
	margin: 1rem 0;
	padding: 0;
}
.flex {
	display: flex;
	grid-gap: .5rem;
}
ul.icons.flex li {
	background-color: rgba(0,0,0,.35);
	border-radius: .5rem;
	padding: .5rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
ul.icons.flex li .icon {
	font-size: 3rem;
	padding: .5rem;
}
ul.icons.flex li h3 {
	padding: 0;
	margin: 0;
	font-size: 1.5rem;
}
ul.icons.flex li p {
	margin: 0;
	padding: .5rem .5rem 0 .5rem;
	font-size: .85rem;
}

ul.icons.flex.elements li {
	flex: 0 20%;
	max-width: 20%;
}

.air {
	color: var(--color-white);
}
.earth {
	color: var(--color-green);
}
.water {
	color: var(--color-baby-blue);
}
.fire {
	color: var(--color-red);
}
.ether {
	color: var(--color-yellow);
}

.modal {
	display: none;
	border-top: 3px dotted;
}
.modal.visible {
	display: block;
}

menu {
	background-color: rgba(0,0,0,.35);
	 border-radius: .5rem;
	 padding: .5rem 1rem;
}
menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
menu > ul > li {
	margin: 0;
	padding: 0;
}
menu > ul > li::before {
	font-family: 'Linearicons';
	content: "\e778";
	font-size: 1rem;
	display: inline-block;
	margin-right: .25rem;
}
menu > ul > li > ol {
	margin: 0 .75rem;
	list-style: none;
	margin: 0;
	padding: 0 1.25rem;
}
menu > ul > li > ol > li::before {
	font-family: 'Linearicons';
	content: "\e779";
	font-size: 1rem;
	display: inline-block;
	margin-right: .25rem;
}

.share {
	display: flex;
	padding: .5rem;
	justify-content: flex-end;
	align-items: center;
	flex-flow: row nowrap;
	max-width: 700px;
	margin: auto;
}
.share .label {
		font-size: .9rem;
}
.share .services ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}
.share .services ul li {
	margin: 0;
	padding: 0 .25rem;
	line-height: 1;
}
.share .services ul li a img {
	max-height: 30px;
	
}

.cover .item {
	display: flex;
}
.cover .item .label {
	flex: 0 5.5rem;
	font-size: .9rem;
	padding: .5rem;
	align-content: flex-start;
}
.cover .item .value {
	flex: 1;
}

.content .item {
	display: flex;	
	gap: .5rem;
	margin: .25rem 0;
}
.content .label {
	min-width: 6rem;
	font-size: .9rem;
}
.content .image img {
	max-width: 100%;
}
.CONTAINER .item {
	display: flex;
	margin: .1rem 0;
	margin-top: 1rem;
}

.CONTAINER .item .label {
	min-width: 5.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .9rem;
	font-weight: bold;
	align-content: flex-start;
	padding: .5rem 0 0 0;
	color: var(--prompt-label);
}
.CONTAINER .item .value {
	color: var(--prompt-text)
}
.CONTAINER .box.client {
	visibility: hidden;
	display: none;
}
.box.meta .item,
.box.signature .item {
	margin: 0;
}
.box.meta .item .label,
.box.signature .item .label,
.box.meta .item .value,
.box.signature .item .value {
	font-size: .6rem;
	margin: 0;
	padding: 0;
}
.box.meta {
	max-width: 100%;
	overflow: hidden;
	color: var(--color-orange);
	border: 1px solid;
	border-radius: .5rem;
	padding: .5rem 1rem;
}
.box.meta::before {
	font-size: .65rem;
	content: "META";
	display: block;
}
.box.signature {
	max-width: 100%;
	overflow: hidden;
	color: var(--color-green);
	border: 1px solid;
	border-radius: .5rem;
	padding: .5rem 1rem;
}
.box.signature::before {
	font-size: .65rem;
	content: "SIGNATURE";
	display: block;
}

.box.algorithm,
.box.deva,
.box.nav {
	transition: .25s all linear;
	border-radius: .5rem;
}
.box.algorithm:hover,
.box.deva:hover,
.box.nav:hover {
	box-shadow: 0 0 9px;
	cursor: pointer;
}

.box.algorithm .avatar a,
.box.deva .avatar a,
.box.nav .avatar a {
	display: flex;
	flex: 0;
}
.box.algorithm .avatar a img,
.box.deva .avatar a img,
.box.nav .avatar a img {
	max-width: 150px;
	border-radius: .5rem 0 0 .5rem;
}
.box.algorithm .details h3,
.box.deva .details h3,
.box.nav .details h3 {
	font-size: 2rem;
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
}
.box.algorithm .details h3 a,
.box.deva .details h3 a,
.box.nav .details h3 a {
	font-size: 2rem;
	color: var(--color-light-grey);;
}
.hero {
	background-position: center;
}
.hero .avatar img {
	border-radius: 50%;
	width: 200px;
}
.hero-img img {
	max-width: 100%;
}

.number-item {
	margin: .5rem 2rem 1rem 2rem;
	gap: .25rem;
}
.number-item::before {
	content: attr(data-label);
	display: inline-block;
	width: 2rem;
	height: 2rem;
	min-width: 2rem;
	margin-left: -2.5rem;
	border: 1px solid;
	border-radius: 50%;
	align-content: center;
	text-align: center;
	font-size: .85rem;
	margin-right: .5rem;
}

.line-item {
	margin: .25rem .5rem;
	padding: .25rem .5rem;
	border-left: 1px solid;
}
.list-item {
	margin: .25rem .5rem;
	padding: .5rem 1rem;
	border-radius: .5rem;
	background-color: rgba(0,0,0,.5);
}
.hidden {
	visibility: hidden;
	display: none;
}

.profile {}
.profile .item {
	display: flex;
	margin: .15rem 0;
}
.profile .item .label {
	background-color: rgba(255,255,255,.1);
	border-radius: .5rem 0 0 .5rem;
	padding: 0 0 0 .5rem;
	color: var(--prompt-label);
	width: 6rem;
}

.profile .item .value {
	flex: 1;
	background: rgba(0,0,0,.5);
	padding: .25rem .5rem;
	color: color: var(--prompt-text);
	border-radius: 0 .5rem .5rem 0;
	font-size: .9rem;
}

pre {
	background-color: rbga(0,0,0,.75);
	font-size: .9rem;
}

.greeting {
	border: 1px solid;
	border-radius: 1rem;
	padding: .5rem 1rem;
}
.greeting p {
	margin: 0;
	padding: 0;
}
.greeting .item {
	display: flex;
}
.greeting .item .label {
	min-width: 5rem;
}
.greeting .item.date {
	font-size: .85rem;
	opacity: .5;
}

.global .box {
	border: 1px solid;
	border-radius: 1rem;
	margin: 0 0 1rem 0;
	padding: .5rem 1rem;
	background-color: rgba(0,0,0,.25);
}
.global .thumbnail {
	order: -1;
	text-align: center;
}
.global .thumbnail img {
	max-width: 175px;
}

.post {}

.post .meta {}
.post .meta > div strong {
	display: inline-block;
	min-width: 6rem;
}